body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  width: 50%;
}

.card > .select {
  height: 100px;
  width: 100%;
}

.card > .board {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
}

.board > .selection {
  grid-row: span 1;
  grid-column: span 1;
  aspect-ratio: 1;
  box-sizing: border-box;
}

/* Not displaying */
.middle-row {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* Not displaying */
.middle-col {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.selection > p {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.card > .restart {
  height: 100px;
  width: 100%;
}
